<% if @voice && @voice.is_witness_gaza %>
  <div class=  "create-voice gaza-header bottom">
    <ul class="view-video">
      <li><a class="button" href="#"><%= t('layout.video') %></a></li>
    </ul>
  </div>
<% else %>
  <div class= "create-voice" data-hansel-component-id="login-signup">
    <ul>
      <li class="addVoice <%= current_user.nil? ? 'logged-out' : 'logged-in' %>">
        <%= link_to_if current_user, t('layout.add_voice'), new_admin_voice_path, :class => "cv-button cv-uppercase #{current_user.nil? ? 'voicebtn' : 'voicelogin'}" do %>
          <a class="cv-button cv-uppercase voicebtn" href="#">
            <%= t('layout.add_voice') %>
          </a>
        <% end %>
        <% unless current_user %>
          <script type="text/javascript">
            window.onload = function() {
              new Tooltip2({
                html: '\
                  <span class="cv-pull-left">\
                    <%= t('layout.login_tool') %>\
                    <br /><%= t('layout.voice_tool') %>\
                  </span>\
                  <span class="pencil cv-pull-right"></span>\
                ',
                parentElement : $('.addVoice'),
                targetElement : $('.addVoice > .cv-button'),
                className : 'add-a-voice-tooltip'
              });
            }
          </script>
        <% end %>
      </li>
      <% if current_user %>
        <li class="addVoice <%= current_user.nil? ? 'logged-out' : 'logged-in' %>">
          <%= link_to_if current_user, "Manage Voices", admin_root_path, :class => "cv-button cv-uppercase #{current_user.nil? ? 'voicebtn' : 'voicelogin'}" do %>
            <a class="cv-button cv-uppercase voicebtn" href="#">
              <%= t('layout.add_voice') %>
            </a>
          <% end %>
        </li>
      <% end %>
      <% unless current_user %>
        <li class="sign-btn">
          <a class="cv-button cv-uppercase signup" href="#">
            <%= t('layout.signup') %>
          </a>
        </li>
        <li>
          <a class="cv-button cv-uppercase login" href="#">
            <%= t('layout.login') %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <% unless current_user %>
    <%= form_for User.new, :url => users_path(:format => :json), :html => { :class => 'register-form' } do |f| %>
      <div class="user-form register-sec">
        <table class="register-login">
          <tbody>
            <tr><td class="form-label"><%= f.label :username %></td><td><%= f.text_field :username, :'data-attribute' => 'username' %></td></tr>
            <tr><td class="form-label"><%= f.label :email %></td><td><%= f.text_field :email, :'data-attribute' => 'email' %></td></tr>
            <tr><td class="form-label"><%= f.label :password %></td><td><%= f.password_field :password, :'data-attribute' => 'password' %></td></tr>
          </tbody>
        </table>
        <ul>
          <li>
            <div class="signup-btn">
              <%= submit_tag t('layout.signup'), :'data-action' => 'submit', :class => 'cv-button' %>
            </div>
          </li>
          <li class="cancel"><a class="cancel"><%= t('layout.cancel') %></a></li>
        </ul>
      </div>
    <% end %>
    <%= form_tag login_path, :format => :json, :class => 'login-form' do %>
      <div class="user-form login-sec">
        <table class="register-login">
          <tbody>
            <tr><td class="form-label"><%= label_tag :email,  t('layout.login') %></td><td><%= text_field_tag :email %></td></tr>
            <tr><td class="form-label"><%= label_tag :password %></td><td><%= password_field_tag :password %></td></tr>
            <tr class="forgot-pass"><td class="form-label"></td><td><a href="<%= reset_password_url %>"><%= t('layout.forgot') %></a></td></tr>
          </tbody>
        </table>
        <ul>
          <li>
            <div class="signup-btn">
              <%= submit_tag  t('layout.login'), :'data-action' => 'submit', :class => 'cv-button' %>
            </div>
          </li>
          <li class="cancel"><a class="cancel" href=""><%= t('layout.cancel') %></a></li>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>
