<div class="home-voices-layout">
  <!-- Start New Home -->

  <!-- notification bar -->
  <div class="notification-bar is-empty">
    <div class='notification-bar__cv-by'>
      <a class="close-message">&times;</a>
      <p class='notification-bar__title'>Welcome! CrowdVoice is an open source tool that tracks and contextualizes information on social justice movements worldwide.</p>
      <a class='notification-bar__cta' href='/about'>Learn more</a>
    </div>
  </div>
  <!-- @notification bar -->

  <div class="home-covers-wrapper">
    <!-- FEATURED VOICES BOX 1 -->
    <div class="home-cover home-cover--featured home-cover--1-4 <%= @items[0].voice.theme %>">
      <%= render :partial => 'voice', :locals => { :item => @items[0] } %>
    </div>

    <!-- BACKSTORY BOX 2 -->
    <%= render :partial => 'event_graph', :locals => { :item => @items[1] } %>

    <!-- INFOGRAPHIC BOX 3 -->
    <%= render :partial => 'event_graph', :locals => { :item => @items[2] } %>

    <!-- RECENTLY UPDATED BOX 4 -->
    <div class="home-cover home-cover--updated home-cover--1-4 <%= @items[3].voice.theme %>">
      <%= render :partial => 'voice', :locals => { :item => @items[3] } %>
    </div>

    <!-- FEATURED VOICES BOX 5 -->
    <div class="home-cover home-cover--featured home-cover--1-4 <%= @items[4].voice.theme %>">
      <%= render :partial => 'voice', :locals => { :item => @items[4] } %>
    </div>

    <%= render :partial => 'event_graph', :locals => { :item => @items[5] } %>

    <!-- INFOGRAPHIC BOX 7 -->
    <%= render :partial => 'event_graph', :locals => { :item => @items[6] } %>

    <!-- RECENTLY UPDATED BOX 8 -->
    <div class="home-cover home-cover--updated home-cover--1-4 <%= @items[7].voice.theme %>">
      <%= render :partial => 'voice', :locals => { :item => @items[7] } %>
    </div>
  </div>

  <!-- End New Home -->
</div>
