<% head do %>
  <% @is_gaza = @voice.is_witness_gaza %>
  <%= include_stylesheets :backstory %>
<% end %>

<%# cache("#{current_connection}_backstory_#{@voice.id}") do %>
<header class="main-header">
  <%= render :partial => "nav_bar" %>
</header>

<div class="cv-backstory-ui-wrapper"
  data-background="<%= @voice.background %>"
  data-breadcrumb-range="<%= @voice.backstory_breadcrumb_range %>">
</div> <!-- backstory_breadcrumb_range Monthly|Yearly|Decade -->

<%= include_javascripts :backstory_pack %>
<script type="text/javascript">
  new FacebookNavButton({
    fbPath : "<%= fb_path %>"
  });
</script>


