<div class="voice-info <%= "gaza" if @is_gaza %>" style="background-image: url( '<%= @voice.background %>');">
  <div class="hgroup-theme-image">
    <div class="theme-image">
      <p class="top-line <%= "gaza" if @is_gaza %>"></p>
    </div>
  </div>
  <h2 class="voice-title"><%= @voice.title %></h2>
  <div class="description-wrapper has-cv-tooltip">
    <a class="cv-button cv-button--small cv-button--trans more-button">More Info</a>
    <div class="tooltip cv-tooltip voice-description-tooltip">
      <div class="tooltip-positioner">
        <span class="tooltip-arrow"><span></span></span>
        <div class="cv-tooltip-inner clearfix">
          <%= @voice.description %>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-bar">
    <ul class="top-left-navigation">
      <% if !subdomain_present? && (@voice.has_timeline || (@voice.events.present? && current_user && current_user.is_admin?)) %>
        <li name="Backstory" class="menu-item backstory-menu-item <%= "active" if params[:backstory] %>">
          <a href="<%= voice_url(@voice) %>?backstory=true" class="menu-link">
            <i class="icon--14 icon--backstory"></i>
            <span class="text">Backstory</span>
          </a>
        </li>
      <% end %>
      <% if !@blocks.empty? %>
        <li name="Infographic" class="menu-item infographics-menu-item <%= "active" if !@blocks.empty? && !params[:tags].present? && !params[:all] && !params[:backstory] %>">
          <a href="<%= voice_url(@voice) %>" class="menu-link">
            <i class="icon--14 icon--infographic"></i>
            <span class="text">Infographic</span>
          </a>
        </li>
      <% end %>
      <li name="Media Feed" class="menu-item media-feed-menu-item <%= "active" if params[:tags].present? || params[:all] %>">
        <a href="<%= voice_url(@voice) %>?all=true" class="menu-link">
          <i class="icon--14 icon--stats"></i>
          <span class="text">Media feed</span>
        </a>
      </li>
    </ul>
    <ul class="voice-info-tools top-right" data-hansel-component-id="posts-voice-info-tool">
      <li>
        <a class="cv-button--small cv-button--trans" title="Follow">Follow</a>
      </li>
      <li class="info-tool maps">
        <a title="Map" class="cv-button--small cv-button--trans info-tool-link map">
          <i class="mediafeed-sprite pin-icon"></i>
        </a>
      </li>
      <li class="info-tool widget has-cv-tooltip">
        <a class="cv-button--small cv-button--trans info-tool-link" href="#" title="widget">
          <i class="mediafeed-sprite gear-icon"></i>
        </a>

        <div class="tooltip cv-tooltip embeddable-widget-tooltip">
          <div class="tooltip-positioner">
            <span class="tooltip-arrow"><span></span></span>
            <div class="cv-tooltip-inner clearfix">
              <form>
                <fieldset  class="grab-blog-widget">
                  <strong class="blog-widget-title">Crowdvoice Embeddable Widget</strong>
                  <div class="info-wrapper clearfix">
                    <div class="info">
                      <div class="height-options options-container">
                        <p class="blog-widget-subtitle">How tall would you like the widget to be?</p>
                        <label class="blog-widget-label" for="blog-widget-size-small">
                          <input id="blog-widget-size-small" class="widget-height" type="radio" value="small" name="height" checked="checked" />
                          Short
                        </label>
                        <label class="blog-widget-label" for="blog-widget-size-medium">
                          <input id="blog-widget-size-medium" class="widget-height" type="radio" value="medium" name="height" />
                          Medium
                        </label>
                        <label class="blog-widget-label" for="blog-widget-size-tall">
                          <input id="blog-widget-size-tall" class="widget-height" type="radio" value="tall" name="height" />
                          Tall
                        </label>
                      </div>
                      <div class="scope-options options-container">
                        <p class="blog-widget-subtitle no-border">What would you like to showcase?</p>
                        <label class="blog-widget-label" for="blog-widget-scope-this">
                          <input id="blog-widget-scope-this" class="widget-scope" type="radio" value="this" name="scope" checked="checked" />
                          Just this Voice
                        </label>
                        <label class="blog-widget-label" for="blog-widget-scope-all">
                          <input id="blog-widget-scope-all" class="widget-scope" type="radio" value="all" name="scope" />
                          All Voices
                        </label>
                      </div>
                      <div class="misc-options options-container">
                        <p>
                          <label class="blog-widget-label" for="blog-widget-show-rtl">
                            <input id="blog-widget-show-rtl" class="rtl-checkbox" type="checkbox" value="1" name="rtl" />
                            Set orientation from right to left (arabic)
                          </label>
                        </p>
                      </div>
                      <div class="code-output">
                        <textarea id="js-widget-generated-code" class="blog-widget-textarea cv-input"
                          data-template="<iframe src='http://localhost:3000/widget/<%= @voice.slug %>?size={{size}}&scope={{scope}}&rtl={{rtl}}' scrolling='no' frameborder='0' style='overflow:hidden; border:none; width:100%; height:{{height}}px;' allowTransparency='true'></iframe>"></textarea>
                        <button id="js-copy-code-button" class="cv-button cv-button--medium cv-button--dynamic-color cv-uppercase cv-block">Copy code to clipboard</button>
                      </div>
                    </div>
                    <div class="preview">
                      <div class="preview-placeholder"></div>
                      <p class="cv-uppercase cv-center">Widget Preview</p>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </li>
      <li class="info-tool rss">
        <%= link_to voice_path(@voice, :format => :rss), :class => 'cv-button--small cv-button--trans info-tool-link', :title => 'RSS feed' do %>
          <i class="mediafeed-sprite rss-icon"></i>
        <% end %>
      </li>
      <li class="info-tool facebook-like-button" id="facebook-nav-button">
      </li>
      <li class="info-tool twitter">
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
      </li>
    </ul>
  </div>
</div>
