<div id="overlay"></div>

<div class="overlay-container">
  <div class="arrows prev">
    <a href="#" class="voice-arrow left" title="{{prev_title}}" data-id="{{prev_id}}"></a>
    <div class="tooltip-arrow left">
      {{prev_image}}
      <p class="over-arrow"></p>
    </div>
  </div>
  <div class="voice-container" style="width:{{voice_width}}px">
    <a class="close-voice-container" href="#"></a>
    <div class="voice-over-info">
      <div>{{content}}</div>
      <h2>{{title}}</h2>
    </div>
    <div class="share-voice-container right-action">
      <p>{{time_ago}} ago</p>
      <ul class="actions">
        <li><%= link_to '', "http://facebook.com/sharer.php?u={{post_permalink}}", :class => 'facebook', :target => '_blank' %></li>
        <% g = Iconv.conv('iso-8859-1', 'utf-8', "&all=1")%>
        <li><%= link_to '', "http://twitter.com/intent/tweet?text={{escaped_title}}&url={{post_permalink}}&via=#{@custom.name.split(".").first.parameterize('_')}", :class => 'twitter', :target => '_blank' %></li>
        <li class="flag-div">
          <%= link_to '', "/{{voice_slug}}/posts/{{post_id}}/votes.json?rating={{rating}}", :format => :json, :class => "flag overlay-vote-post", :method => :post %>
          <div class="tooltip flag-tip" data-post-id="post_{{post_id}}">
            <div class="tooltip-positioner">
            <p class="tooltip-arrow"><span></span></p>
            <div class="media-type-info">
              <strong class="media-type-title"></strong>
              <p class="flag-tooltip">
                <span>Flag Inappropiate Content</span>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="arrows next">
    <a href="#" class="voice-arrow right" title="{{next_title}}" data-id="{{next_id}}"></a>
    <div class="tooltip-arrow right">
      {{next_image}}
      <p class="over-arrow right-tip-arrow"></p>
    </div>
  </div>
</div>

<div class="link-overlay">
  <div class="link-overlay-scrollable">
    <iframe class="scroll-primary" src="about:blank" width="100%" height="100%"></iframe>
  </div>
  <div class="link-base-container cv-overlay-header cv-dynamic-border-color clearfix">
    <div class="cv-pull-left">
      [logo]
      <p class="cv-overlay-title cv-inline-block"><%= @voice.title %></p>

      <ul class="cv-overlay-buttons-wrapper cv-inline-block">
        <li class="cv-inline-block">
          <a class="cv-button cv-button--dynamic-color cv-uppercase" href="{{source_url}}">View Original</a>
        </li>
        <li class="copy-url cv-inline-block" id="d_clip_container" style="position:relative">
          <a class="cv-button cv-button--dynamic-color cv-uppercase" id="d_clip_button" href="#">Copy URL</a>
        </li>
      </ul>

      <% if params[:tags].present? #TODO pass to a helper
        url = voice_url(@voice, :post => params[:post], :tags=>params[:tags])
      elsif params[:all].present?
        url = voice_url(@voice, :post => params[:post], :all=>1)
      else
        url = voice_url(@voice, :post => params[:post])
      end%>

      <div class="right-action cv-overlay-buttons-wrapper cv-inline-block">
        <ul class="actions">
          <li>
            <% link_to "http://facebook.com/sharer.php?u={{post_permalink}}", :class => 'facebook', :target => '_blank' do %>
              <i class="mediafeed-sprite facebook"></i>
            <% end %>
          </li>
          <li>
            <% link_to "http://twitter.com/intent/tweet?text={{escaped_title}}&url={{post_permalink}}&via=#{@custom.name.split(".").first.parameterize('_')}", :class => 'twitter', :target => '_blank' do %>
              <i class="mediafeed-sprite twitter"></i>
            <% end %>
          </li>
          <li class="flag-div">
            <%= link_to '', "/{{voice_slug}}/posts/{{post_id}}/votes.json?rating={{rating}}", :format => :json , :class => "flag overlay-vote-post", :method => :post %>
            <div class="tooltip flag-tip" data-post-id="post_{{post_id}}">
              <div class="tooltip-positioner">
              <p class="tooltip-arrow"><span></span></p>
              <div class="media-type-info">
                <strong class="media-type-title"></strong>
                <p class="flag-tooltip">
                  <span>Flag Inappropiate Content</span>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="cv-pull-right">
      <div class="cv-overlay-buttons-wrapper cv-inline-block">
        <ul class="arrows cv-inline-block">
          <li class="prev cv-inline-block">
            <a href="#" class="voice-arrow prev cv-button" title="{{prev_title}}" data-id="{{prev_id}}"></a>
          </li>
          <li class="next cv-inline-block">
            <a href="#" class="voice-arrow next cv-button" title="{{next_title}}" data-id="{{next_id}}"></a>
          </li>
        </ul>
        <button class="js-back-to-voice-button cv-button cv-uppercase cv-inline-block">back to Voice</button>
      </div>
    </div>
  </div>
</div>

<div class="vide-overlay-container">
  <div class="video-container">
    <a class="close-voice-container" href="#"></a>
    <div>
      <iframe width="640" height="480" src="https://www.youtube.com/embed/qB2RIWpU3r0?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
